/* CustomDatePicker.css */
.custom-date-input {
    width: 300px; /* Increased width */
    height: 50px;
    font-size: 18px;
    margin-left: 20px; margin-top: 0px;
    padding: 5px;
    
    border-radius: 7px;
    font-weight: bold;
    color: rgb(90, 90, 90);
    border: 6px solid transparent;
    background-color: transparent;
    cursor: pointer;
    
    text-align: center;
    font-family: 'Radio Canada', sans-serif;
  }
  
  .react-datepicker {
    font-family: 'Radio Canada', sans-serif;
    border-radius: 30px;
    z-index: 100000;
    padding: 10px;
    border: 4px solid lightgrey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2.5rem;
    line-height: 2.5rem;
  }
  
  .react-datepicker__current-month {
    font-size: 1.5rem;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .react-datepicker__navigation {
    top: 25px; 
    
    width: 120px;
  }
  
  .react-datepicker__header {
    background-color: #ffffff;
    padding-top: 20px; 
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #020CFF;
    color: white;
  }
  
  .react-datepicker__day--today {
    font-weight: bold;
  }
  
  /* Custom styles for the time selector */
  .react-datepicker__time-container {
    border-left: 1px solid #aeaeae;
    line-height: 30px;
    border-radius: 0 10px 10px 0;
    width: 120px; /* Increased width */
  }
  
  .react-datepicker__time-box {
    width: 100% !important; /* Ensure full width */
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
  }
  
  .react-datepicker__time-list {
    padding-right: 0 !important; /* Remove default padding */
  }
  
  .react-datepicker__time-list-item {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center; /* Center the time text */
  }
  
  .react-datepicker__time-list-item:hover {
    background-color: #9b0e0e;
  }
  
  .react-datepicker__time-list-item--selected {
    background-color: #4b4b4b !important;
    color: #000000;
    line-height: 30px;
  }
  
  .react-datepicker__time-list-item--keyboard-selected {
    background-color: #020CFF !important;
    color: #000000;
  }
  
  /* Adjust the overall datepicker width */
  .react-datepicker--time-only {
    width: 120px; /* Match the time container width */
  }
  
  .react-datepicker__triangle {
    display: none; /* Hide the triangle pointer */
  }