.yellowSwitch {
    position: relative;
    height: 3rem;
    width: 5.7rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
  }
  .yellowSwitch:checked {
    background-color: #ffe449;
  }
  .yellowSwitch::before {
    position: absolute;
    content: "";
    left: calc(4.5rem - 4.1rem);
    top: calc(4.5rem - 4.2rem);
    display: block;
    height: 1.65rem;
    width: 1.65rem;
    cursor: pointer;
    border: 6px solid rgba(255, 255, 255, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 9px 20px rgba(100, 116, 139, 0.127);
    transition: all .3s ease;
  }
  .yellowSwitch:hover::before {
    box-shadow: 0 0 0px 24px rgba(0, 0, 0, .15)
  }
  .yellowSwitch:checked:hover::before {
    box-shadow: 0 0 0px 24px rgba(236, 170, 72, 0.15)
  }
  .yellowSwitch:checked:before {
    transform: translateX(100%);
    border-color: #ffffff;
  }